<h1>Pagina personal</h1>
@model Personal


@Html.LabelFor(m=>m.name): @Model.name <br/>
@Html.LabelFor(m=>m.lastname): @Model.lastname <br/>
@Html.LabelFor(m=>m.age): @Model.age <br/>
@Html.LabelFor(m=>m.phone): @Model.phone <br/> 
@Html.LabelFor(m=>m.email): @Model.email <br/>